.Rhistory
.Rprofile
*.csv
*.sav
*.dta
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
sim_conditions2.RData
nl.csv
!codebook_nl.csv
dk.csv
!codebook_dk.csv
us.csv
!codebook_us.csv
tris.csv
!codebook_tris.csv
